* {
  color: #b895b8;
  font-family: "Lato", sans-serif;
}

.clip--Portfolio_In {
  animation: clips 1s;
  animation-fill-mode: forwards;
}

.clip--Portfolio_Out {
  animation: clipsout 1s ease;
  animation-fill-mode: forwards;
}

@-webkit-keyframes clips {
  0% {
    clip-path: polygon(0% 50%, 33% 50%, 44% 50%, 55% 50%, 66% 50%, 100% 50%, 100% 50%, 66% 50%, 55% 50%, 44% 50%, 33% 50%, 0% 50%);
  }
  100% {
    clip-path: polygon(0% 0%, 33% 0%, 44% 33%, 55% 33%, 66% 0%, 100% 0%, 100% 100%, 66% 100%, 55% 66%, 44% 66%, 33% 100%, 0% 100%);
  }
}
@-webkit-keyframes clipsout {
  0% {
    clip-path: polygon(0% 0%, 33% 0%, 44% 33%, 55% 33%, 66% 0%, 100% 0%, 100% 100%, 66% 100%, 55% 66%, 44% 66%, 33% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 50%, 33% 50%, 44% 50%, 55% 50%, 66% 50%, 100% 50%, 100% 50%, 66% 50%, 55% 50%, 44% 50%, 33% 50%, 0% 50%);
  }
}
.clip--Work_In {
  animation: workIn 1s;
  animation-fill-mode: forwards;
}

.clip--Work_Out {
  animation: workOut 1s ease;
  animation-fill-mode: forwards;
}

@-webkit-keyframes workIn {
  0% {
    clip-path: polygon(50% 0%, 50% 100%, 50% 100%, 50% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}
@-webkit-keyframes workOut {
  0% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
  100% {
    clip-path: polygon(50% 0%, 50% 100%, 50% 100%, 50% 0%);
  }
}
@media only screen and (max-width: 1025px) {
  .clip--Portfolio_In {
    animation: workIn 1s;
    animation-fill-mode: forwards;
  }

  .clip--Portfolio_Out {
    animation: workOut 1s ease;
    animation-fill-mode: forwards;
  }
}
.fix {
  position: sticky;
  top: 0;
}

header {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
header .nav {
  align-items: center;
  width: 30%;
  margin-right: 100px;
}
header .nav ul {
  display: flex;
  align-items: stretch;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
header .nav li {
  list-style-type: none;
  display: block;
  flex: 0 1 auto;
}

@media only screen and (max-width: 620px) {
  header {
    justify-content: center;
  }
  header .nav {
    width: 100%;
    margin: 0 50px 0 50px;
  }
}
body {
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.parallax {
  margin: 0;
  background-image: url("../../../assets/images/Background.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio {
  margin-bottom: 300px;
}

html {
  scroll-behavior: smooth;
}

#landing {
  height: 100vh;
  text-align: center;
  align-content: center;
  background-color: #314157;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  margin-bottom: 300px;
}
#landing h1 {
  padding-top: 200px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}
#landing p {
  margin: 0 auto;
  width: 50%;
}

li a {
  text-decoration: none;
}

@media only screen and (max-width: 620px) {
  #landing p {
    width: 80%;
  }
}
#work {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  margin-bottom: 300px;
  justify-content: center;
}

@media only screen and (max-width: 620px) {
  #work {
    margin-bottom: 800px;
  }
}
#contact {
  position: relative;
  display: flex;
  flex-flow: wrap;
  height: 100vh;
  align-items: center;
  background-color: #314157;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
#contact .title {
  position: absolute;
  left: 10%;
  top: 30%;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}
#contact .contact--wrap {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#contact p {
  font-family: "Lato", sans-serif;
  margin: 0;
}

@media only screen and (max-width: 620px) {
  #contact .title {
    top: 20%;
    left: 33%;
  }
  #contact .contact--wrap {
    width: 50%;
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
  }
  #contact .contact--wrap p {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 40px;
    display: block;
  }
  #contact .contact--wrap a {
    padding-left: 90px;
    padding-bottom: 10px;
    display: block;
    width: 100%;
  }
}
.card--portfolio {
  background-color: #314157;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  height: 500px;
  display: flex;
}
.card--portfolio .card--image {
  height: 100%;
  width: 20%;
}
.card--portfolio .card--image img {
  padding-top: 20%;
  padding-left: 33%;
  height: 80%;
  width: 100%;
}
.card--portfolio .card--empty {
  width: 47%;
}
.card--portfolio .card--text {
  height: 100%;
  display: flex;
  width: 30%;
}
.card--portfolio .card--text p {
  margin: 0;
  padding-top: 10%;
}

.card--work {
  background-color: #314157;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  display: flex;
  height: 300px;
  width: 300px;
  position: relative;
  margin: 7% 10% 0% 10%;
  cursor: pointer;
}
.card--work .text {
  background: #314157;
  color: #fff;
  transition: opacity 0.5s;
  opacity: 0;
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card--work img {
  width: 80%;
  height: 80%;
  padding-top: 10%;
  padding-left: 10%;
}
.card--work .card--wrap {
  height: 50px;
  width: 90%;
  background-color: #314157;
  position: absolute;
  bottom: 20%;
  left: 5%;
}
.card--work .card--wrap p {
  text-align: center;
  margin: 5% 0 0 0;
}

.card--work:hover .text {
  opacity: 0.95;
}
.card--work:hover .text p {
  width: 80%;
}

@media only screen and (max-width: 1020px) {
  .card--portfolio .card--image {
    padding-top: 50px;
    height: 300px;
    width: 200px;
  }
  .card--portfolio .card--empty {
    width: 10%;
  }
  .card--portfolio .card--text {
    font-size: 16px;
    width: 50%;
  }

  .card--work {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 775px) {
  .card--work {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 620px) {
  .card--portfolio {
    height: 100vh;
    flex-flow: wrap;
  }
  .card--portfolio .card--image {
    width: 200px;
    margin: 0 auto;
    height: 250px;
  }
  .card--portfolio .card--image img {
    height: 200px;
    width: 150px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .card--portfolio .card--empty {
    display: none;
  }
  .card--portfolio .card--text {
    margin: 0 auto;
    width: 90%;
  }
  .card--portfolio .card--text p {
    font-size: 12px;
    padding: 0px;
  }
}
@media only screen and (max-width: 400px) {
  .card--portfolio .card--image {
    height: 210px;
    width: 100px;
    padding-top: 10px;
  }
  .card--portfolio .card--text p {
    font-size: 12px;
  }
}
.Modal {
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal--Wrap {
  display: flex;
  flex-direction: row;
  position: relative;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  margin: 0 auto;
  padding-top: 40px;
  margin-top: 5%;
  width: 70%;
  height: 85%;
  background-color: #314157;
  opacity: 1;
}
.Modal--Wrap .content {
  padding: 0px 10px 0px 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-items: flex-start;
}

.Modal--Image {
  height: 200px;
  width: 250px;
}

.Modal--Close {
  position: absolute;
  background: none;
  border: none;
  width: 5%;
  top: 10px;
  right: 5px;
  font-size: 30px;
  font-style: bold;
  cursor: pointer;
}

.Modal--Title {
  text-decoration: underline;
  margin-top: 0;
  width: 50%;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
