//colors
$clr-main: rgb(184, 149, 184);
$card-color: rgb(49, 65, 87);
//fonts
$ff-h: 'Playfair Display', serif;
$ff-b: 'Lato', sans-serif;

//font sizes
$fs-sm: 12px;
$fs-md: 16px;
$fs-lg: 24px;
$fs-xl: 30px;