.Modal {
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal--Wrap {
  display: flex;
  flex-direction: row;
  position: relative;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  margin: 0 auto;
  padding-top: 40px;
  margin-top: 50px;
  width: 70%;
  height: 78%;
  background-color: $card-color;
  opacity: 1;
  .content {
    padding: 0px 30px 0px 30px;
    width: 100%;
    flex-wrap: wrap;
    justify-items: flex-start;
    font-size: 10px;
  }
  .indent {
    text-indent: 20px;
    margin: 0;
  }
}

.Modal--Image {
  height: 200px;
  width: 250px;
  float: left;
  margin-right: 20px;
}

.Modal--Close {
  position: absolute;
  background: none;
  border: none;
  width: 5%;
  top: 10px;
  right: 5px;
  font-size: 30px;
  font-style: bold;
  cursor: pointer;
}
.Modal--Title {
  text-decoration: underline;
  margin-top: 0;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .Modal--Wrap {
    p {
      font-size: 8px;
    }
  }
}

@media only screen and (max-width: 670px) {
  .Modal--Wrap {
    p {
      font-size: 8px;
    }
  }
  .Modal--Image {
    height: 80px;
    width: 100px;
  }
  .Modal--Title {
    width: 100%;
  }
  .Modal--Close {
    right: 40px;
  }
}

@media only screen and (max-width: 425px) {
  .Modal--Wrap {
    p {
      font-size: 7px;
    }
  }
}
