header{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .nav{
        align-items: center;
        width: 30%;
        margin-right: 100px;
        ul{
            display: flex;
            align-items: stretch;
            width: 100%;
            text-align: center;
            justify-content: space-between;
            margin: 0;
            padding: 0;
        }
        li{
            list-style-type: none;
            display: block;
            flex: 0 1 auto;
        }
    }
}